@media only screen and (max-width: 1287px) {
      .link_pages a {
            font-size: 100%;
      }

      .change_lan a {
            font-size: 90%;
      }
}

@media only screen and (max-width: 1161px) {
      .link_pages a {
            font-size: 90%;
      }

      .change_lan a {
            font-size: 80%;
      }
}

@media only screen and (max-width: 1161px) {
      .link_pages a {
            font-size: 84%;
      }

      .change_lan a {
            font-size: 84%;
      }
}


@media only screen and (max-width: 1105px) {
      .link_pages a {
            font-size: 80%;
      }

      .change_lan a {
            font-size: 80%;
      }
}


@media only screen and (max-width: 1077px) {
      .link_pages a {
            font-size: 76%;
      }

      .change_lan a {
            font-size: 76%;
      }
}


@media only screen and (max-width: 1061px) {
      .link_pages a {
            font-size: 75%;
      }

      .change_lan a {
            font-size: 75%;
      }
}

@media only screen and (max-width:1047px) {
      ul {
            display: flex;
            gap: 60px;
      }

      .link_pages a {
            font-size: 70%;
      }

      .change_lan a {
            font-size: 70%;
      }
}


@media only screen and (max-width: 1015px) {
      .link_pages {
            position: relative;
            top: -10px;
      }

      ._languages {
            position: relative;
            top: -8px;
      }

      .fixedNav {
            height: 89px;
      }

      .link_pages a {
            font-size: 69%;
            font-weight: 700;
      }

      .change_lan a {
            font-size: 69%;
            font-weight: 700;
      }
}

@media only screen and (max-width: 848px) {
      .fixedNav {
            height: 84px;
      }

      .link_pages {
            display: none;
      }

      .change_lan {
            display: none;
      }
}

@media only screen and (max-width: 848px) {
      .fixedNav {
            height: 84px;
      }

      .right_contaent {
            display: flex;
            justify-content: end;
            position: relative;
            left: 1px;
      }

      .logo {
            display: flex;
            justify-content: end;
            position: relative;
            top: -10px;
      }

      .logo img {
            width: 50px;

      }

      .burger_menu {
            display: block;
            position: absolute;
            top: 22px;
      }

      .burger_menu img {
            filter: invert(100%);
            -webkit-filter: invert(100%);
      }
}