@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:ital,wght@1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
  background-color: #000000;
}

body::-webkit-scrollbar-track {
  background-color: #272727
}

body::-webkit-scrollbar-thumb {
  background-color: #3f3f3f
}

body::-webkit-scrollbar {
  width: 5px
}

header {
  z-index: 100;
}


.bg_wrapper {
  width: 100%;
  height: 825px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 46.33%, rgba(0, 0, 0, 0.082) 71.15%, rgba(26, 26, 26, 0.032) 100%), url("https://s3-alpha-sig.figma.com/img/a050/9011/bc6c148a7aedc8e1e5a6eb8a06a46640?Expires=1655078400&Signature=HhSWjGRQ9a-3KaoscmiHS7tyenq~u7zvkKR0lZwPkFc6ZptehnauSbGWrSPwAaqL7wQk92fzpJJ4yUSI4NSRsg1mvEKBOCwfqexrCYbCxSOxFCf6vGsbmZ8YR2P7XjHUZrrvYSAbvfS~w7g8zNd1Fjl9R0Mn9omToilOiImksgHI1jkOAqHK-DYTg4~YhakeciDDVry1L0KjCusInvtjY49rdSo4pzWmzcFUp0MLxP3tdeGh2vpSiybS9dJq7~Rr18TfLtUFU0ldts5xEquWOBhixbtAfr80HaqgWFnH2ifKCEtislRxklAciQpolKjXKgGnh4VKM5gfqt9gV9A3JQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 46.33%, rgba(30, 29, 29, 0.082) 71.15%, rgba(26, 26, 26, 0.032) 100%), url("https://s3-alpha-sig.figma.com/img/a050/9011/bc6c148a7aedc8e1e5a6eb8a06a46640?Expires=1655078400&Signature=HhSWjGRQ9a-3KaoscmiHS7tyenq~u7zvkKR0lZwPkFc6ZptehnauSbGWrSPwAaqL7wQk92fzpJJ4yUSI4NSRsg1mvEKBOCwfqexrCYbCxSOxFCf6vGsbmZ8YR2P7XjHUZrrvYSAbvfS~w7g8zNd1Fjl9R0Mn9omToilOiImksgHI1jkOAqHK-DYTg4~YhakeciDDVry1L0KjCusInvtjY49rdSo4pzWmzcFUp0MLxP3tdeGh2vpSiybS9dJq7~Rr18TfLtUFU0ldts5xEquWOBhixbtAfr80HaqgWFnH2ifKCEtislRxklAciQpolKjXKgGnh4VKM5gfqt9gV9A3JQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-attachment: fixed;
}

.conatiner {
  max-width: 1580px;
  margin: 0 auto;
  padding: 0px 30px 20px;
}

.fixedNav {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(50px);
  width: 100%;
  height: 109px;
  position: fixed;
  top: 0;
  opacity: 1;
  z-index: 30;
  transition: 0.9s all ease;
  z-index: 99;
  -webkit-transition: 0.9s all ease;
  -moz-transition: 0.9s all ease;
  -ms-transition: 0.9s all ease;
  -o-transition: 0.9s all ease;
}

.right_contaent {
  display: flex;
  gap: 60px;
  position: relative;
  top: -24px;
}

.logo {
  transform: translate(0px, 53px);
  -webkit-transform: translate(0px, 53px);
  -moz-transform: translate(0px, 53px);
  -ms-transform: translate(0px, 53px);
  cursor: pointer;
  -o-transform: translate(0px, 53px);
}

.logo img {
  width: 50px;
}

.link_pages {
  margin-top: 80px;
  position: relative;
  right: 25px;
  top: -4px;
}

ul {
  display: flex;
  gap: 90px;
}



ul li a:hover {
  color: #ffffff;
}

ul li a::before {
  content: '';
  position: absolute;
  top: 2;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid #8643DC;
  border-bottom: 1px solid #8643DC;
  transform: scaleY(1);
  opacity: 0;
  transition: .5s ease all;
  z-index: -1;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  -webkit-transition: .5s ease all;
  -moz-transition: .5s ease all;
  -ms-transition: .5s ease all;
  -o-transition: .5s ease all;
}

ul li a:hover:before {
  transform: scaleY(2);
  opacity: 1;
  -webkit-transform: scaleY(2);
  -moz-transform: scaleY(2);
  -ms-transform: scaleY(2);
  -o-transform: scaleY(2);
}



ul li a:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8643DC;
  transform: scale(0);
  transition: .5s;
  z-index: -1;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

ul li a:hover:after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.link_pages a {
  position: relative;
  z-index: 4;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

._languages {
  transform: translate(0px, -50px);
  -webkit-transform: translate(0px, -50px);
  -moz-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  -o-transform: translate(0px, -50px);
}

.change_lan {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.change_lan a {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  color: #ffffff;
  position: relative;
  z-index: 999999;
}

.change_lan a:focus {
  color: #8643DC;
  font-weight: 600;
}

.change_lan a:nth-child(1) {
  color: #8643DC;
  font-weight: 600;
}

.line {
  border-left: 2px solid rgb(255, 255, 255);
  width: 0px;
  position: relative;
  top: -2px;
}


.burger_menu {
  display: flex;
  justify-content: left;
  display: none;
}

.burger_menu img {
  width: 44px;
  cursor: pointer;
}

.left_text_wrap_info_me {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-top: 140px;
}

.name {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 70px;
  color: #FFFFFF;
}

.name span {
  color: #753ebe;
}

.skils_info {
  padding: 27px;
  padding-left: 12px;
  color: #ffffff;
  line-height: 130%;
}


.btn_info_more {
  position: relative;
  top: -10px;
  margin-left: 18px;
}

.line_down {
  width: 560px;
  position: absolute;
  top: 350px;
  margin-left: 20px;
}

.btn_info_more button {
  width: 200px;
  height: 50px;
  background: #8643DC;
  border: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  border-radius: 3px;
  z-index: 40;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.btn_info_more button:hover {
  background: #8643DC;
}